@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-zinc-50 dark:bg-zinc-950 text-zinc-900 dark:text-zinc-100 overflow-hidden transition-colors duration-300;
  }
}
